body {
    font-family: 'Burbank Big Condensed', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0f1113;
    color: #fff;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #1a1c20;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    animation: fadeIn 0.5s ease-in-out;
}

h1 {
    text-align: center;
    color: #fff;
    font-size: 48px;
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 2px solid transparent;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    font-size: 16px;
    transition: border-color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="text"]:focus {
    border-color: #ff5f00;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0 0 10px rgba(255, 95, 0, 0.7);
}

button {
    width: 100%;
    padding: 15px;
    margin: 20px 0;
    border: none;
    border-radius: 5px;
    background-color: #ff5f00;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #ff7f33;
    transform: scale(1.05);
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.created-by {
    text-align: center;
    color: #fff;
    font-size: 14px;
}

.created-by a {
    color: #ff5f00;
    text-decoration: none;
}

.user-details input[type="text"] {
    filter: blur(3px);
}

.authorize-link {
    display: block;
    margin-bottom: 20px;
    color: #ff5f00; /* Orange color */
    text-decoration: none;
}

.authorize-link:hover {
    text-decoration: underline;
}

.created-by a:hover {
    text-decoration: underline;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
